body {
    background-image: url("https://wallpaperaccess.com/full/3159237.jpg");
}

.heading {
    background-color: rgb(214, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.textheading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.inputdiv {
    text-align: center;
}

.input {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

button {
    background-color: rgb(214, 0, 0) ;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(104, 0, 0);
    color: rgb(255, 255, 255);
    
}

.buttondiv {
    text-align: center;
    margin-top: 30px;
}

.resultline {
    background-color: rgb(214, 0, 0);
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}